{% load static %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/Logo.svg' %}">
<title>Office Desk</title>
<link href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/tagsinput.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/ckeditor.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/css_table.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

</head>

<div class="main-wrapper">
	<div class="header">
		<div class="header-left">
			<a href="{% url 'home'%}" class="logo">
			<img src="{% static 'assets/img/Logo.svg' %}" width="35" height="35" alt=""> <span>Asset Tool</span>
			</a>
		</div>
	<a id="toggle_btn" href="javascript:void(0);"><img src="{% static 'assets/img/icons/bar-icon.svg' %}" alt=""></a>
	<a id="mobile_btn" class="mobile_btn float-start" href="#sidebar"><img src="{% static 'assets/img/icons/bar-icon.svg' %}" alt=""></a>
		<ul class="nav user-menu float-end">
			<li class="nav-item dropdown has-arrow user-profile-list">
				<a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
					<div class="user-names">
					
					<h5>{{username}}</h5>
					<span>{{dept}}</span>
					<img src="{% static 'assets/img/icons/Profile.svg' %}"></img>
					</div>
					<!--<img src="{% static 'assets/img/user-06.jpg '%}" alt="Admin">-->
					<span class="user-img">
					</span>
				</a>
				<div class="dropdown-menu">

					<a class="dropdown-item" href="{% url 'login' %}">Logout</a>
				</div>
			</li>
		</ul>
		
		<div class="dropdown mobile-user-menu float-end">
			<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
				<div class="dropdown-menu dropdown-menu-end">
					
					<a class="dropdown-item" href="login.html">Logout</a>
				</div>
		</div>		
	</div>
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">

<ul>
	<li class="menu-title">Main</li>
	<li class="submenu">
	<a href="#"><span class="menu-side"><img src="{% static 'assets/img/icons/Dashboard.svg' %}" alt=""></span> <span> Dashboard </span> <span class="menu-arrow"></span></a><ul style="display: none;">
<li class="{% if request.resolver_match.url_name == "home" %}active{% endif %}"><a href="{% url 'home' %}">IT Dashboard</a></li>
</ul>

</li>
<li class="submenu">
<a href="#"><span class="menu-side"><img src="{% static 'assets/img/icons/IT_Tools.svg'%}" alt=""></span> <span> IT TOOL </span> <span class="menu-arrow"></span></a>

<ul style="display: none;">

	<li class="{% if request.resolver_match.url_name == "itassetlist" %} active {% endif  %}">  <a href="{% url 'itassetlist'%}"> IT List    </a> </li>
	<li class="{% if request.resolver_match.url_name == "add_asset"   %} active {% endif  %}">	<a href="{% url 'add_asset'%}"> Add Asset  </a> </li>
	<li class="{% if request.resolver_match.url_name == "voiplist"   %} active {% endif  %}">  <a href="{% url 'voiplist' %}"> Voip List</a> </li>
	<li class="{% if request.resolver_match.url_name == "addvoip"   %} active {% endif  %}">  <a href="{% url 'addvoip' %}"> Add Voip </a> </li>
	
</ul>
</li>
</ul>
<div class="logout-btn">
<a href="{% url 'login' %}"><span class="menu-side"><img src="{% static 'assets/img/icons/logout.svg' %}" alt=""></span> <span>Logout</span></a>
</div>
</div>
</div>
</div>

<div class="page-wrapper">
<div class="content">
<div class="sidebar-overlay" data-reff=""></div>



<script src="{% static 'assets/js/jquery.calander.js' %}"></script>
<script src="{% static 'assets/js/jquery.circle-progress.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.ckeditor.js' %}"></script>
<script src="{% static 'assets/js/jquery.dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/feather.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script> 
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>	
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>




