{% include 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
<div class="page-header">
<div class="row">
<div class="col-sm-12">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="#">IT TOOLS </a></li>
<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
<li class="breadcrumb-item active"> IT Asset List </li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
	<div class="card card-table show-entire">
		<div class="card-body">

<div class="page-table-header mb-2">
<div class="row align-items-center">
<div class="col">
<div class="doctor-search-blk">

<div class="top-nav-search table-search-blk">
<form>
 {% csrf_token %}
<input id="search" type="text" class="form-control" placeholder="Search here" >
<a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
</form>
</div>
<!--
<div class="top-nav-search mob-view">
	<form>
		<select id="searchInput" class=" form-control select " name="ascat">
			<option>CPU</option>
			<option>Keyboard</option>
			<option>Mouse</option>
			<option>Monitor</option>
			<option>Headset</option>
		</select>
	</form>
</div>
-->


<div class="add-group">

<!-- <button class="btn btn-primary add-pluss ms-2" onclick="searchData()">Search</button> -->
<button class="btn btn-primary add-pluss ms-2" onclick="showAllData()">Show All</button>
<a href="{% url 'add_asset'%}" class="btn btn-primary add-pluss ms-2">  <img src="{% static 'assets/img/icons/plus.svg' %}" alt=""></a>
</div>
</div>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
	<a href="{% url 'download-excel' %}" class=" me-2"> <img src="{% static 'assets/img/icons/pdf-icon-04.svg' %}" alt=""></a>

<!--	<a href="#" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-01.svg' %}" alt=""></a>
	<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-02.svg' %}" alt=""></a>
	<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-03.svg' %}" alt=""></a> -->

</div>


<div class="">
  <div class="table-wrapper">
    <table class="datatable mb-0" >  <!--data table.min.js iDisplayLength -->
        <thead>
				<th>	Edit     </th>
				<th>	S No    </th>
				<th>	Asset Name     </th>
				<th>	Asset ID       </th>
				<th>	Asset Cat      </th>
				<th>	Purchasedate  </th>
				<th>	Purchasefrom  </th>
				<th>	Manufacturer  </th>
				<th>	Model         </th>
				<th>	Serialno      </th>
				<th>	Supplier      </th>
				<th>	Condition     </th>
				<th>	Warranty      </th>
				<th>	Value         </th>
				<th>	Dayuser     </th>
				<th>	Nightuser     </th>
				<th>	Givenby       </th>
				<th>	Dstatus       </th>
				<th>	Ddate         </th>
				<th>	Description   </th>
        </thead>
<tbody id="data">
<tr>
{% for i in asdata %}
		<td class="text-end">
			<div class="dropdown dropdown-action">
			<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
				<div class="dropdown-menu dropdown-menu-end">
					<a class="dropdown-item" href="{% url 'edit_asset' i.sno %}"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
					<a class="dropdown-item" href="{% url 'delete_asset' i.sno %}"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
					<a class="dropdown-item" href="{% url 'pdf' i.sno %}"><i class="fa fa-trash-alt m-r-5"></i> Print</a>
				</div>
			</div>
		</td>

		<td>{{ i.sno      }}</td>
		<td>{{ i.assetname      }}</td>
		<td>{{ i.assetID        }}</td>
		<td>{{ i.assetcat       }}</td>
		<td>{{ i.purchasedate   }}</td>
		<td>{{ i.purchasefrom   }}</td>
		<td>{{ i.manufacturer   }}</td>
		<td>{{ i.model          }}</td>
		<td>{{ i.serialno       }}</td>
		<td>{{ i.supplier       }}</td>
		<td>{{ i.condition      }}</td>
		<td>{{ i.warranty       }}</td>
		<td>{{ i.value          }}</td>
		<td>{{ i.dayuser        }}</td>
		<td>{{ i.nightuser      }}</td>
		<td>{{ i.givenby        }}</td>
		<td>{{ i.Dstatus        }}</td>
		<td>{{ i.Ddate          }}</td>
		<td>{{ i.description    }}</td>
		
</tr>
{% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>


<div class="sidebar-overlay" data-reff=""></div>



<script>
function scrollToBottom() {
  window.scrollTo(0, document.body.scrollHeight);
}

</script>

<script>
	$("document").ready(function(){
		$('#search').keyup(function(){
			var value = $(this).val().toLowerCase()
			$("#data tr").filter(function(){
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
		});
	});
});


// Get the button:
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#togglePassword").on("click", function() {
            var passwordField = $("#password");
            var passwordFieldType = passwordField.attr("type");
            if (passwordFieldType === "password") {
                passwordField.attr("type", "text");
                $("#togglePassword").removeClass("feather-eye-off").addClass("feather-eye");
            } else {
                passwordField.attr("type", "password");
                $("#togglePassword").removeClass("feather-eye").addClass("feather-eye-off");
            }
        });
    });
</script>

</select>


</html>