{% include 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
<div class="page-header">
<div class="row">
<div class="col-sm-12">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="assets.html">IT TOOLS </a></li>
<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
<li class="breadcrumb-item active"> EDIT Voip List </li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card card-table show-entire">
<div class="card-body">

<div class="page-table-header mb-2">
<div class="row align-items-center">
<div class="col">
<div class="doctor-table-blk">
<h3>EDIT VOIP</h3>
<div class="doctor-search-blk">
<div class="top-nav-search table-search-blk">
<form>
<input id="search" type="text" class="form-control" placeholder="Search here" >
<a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
</form>
</div>
<div class="add-group">

<a href="{% url 'add_asset'%}" class="btn btn-primary add-pluss ms-2">  <img src="{% static 'assets/img/icons/plus.svg' %}" alt=""></a>
<a href="{% url 'itassetlist'%}" class="btn btn-primary add-pluss ms-2">  <img src="{% static 'assets/img/icons/menu-icon-01.svg' %}" alt=""></a>

</div>
</div>
</div>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-01.svg' %}" alt=""></a>
<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-02.svg' %}" alt=""></a>
<a href="javascript:;" class=" me-2"><img src="{% static 'assets/img/icons/pdf-icon-03.svg' %}" alt=""></a>
<a href="javascript:;"><img src="{% static 'assets/img/icons/pdf-icon-04.svg' %}" alt=""></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 custom-table comman-table datatable mb-0">
<thead>
<tr>
<div class="form-check check-tables"></div>
<th>	S No    </th>
<th>	Vendor     </th>
<th>	Call Back Number       </th>
<th>	User Name      </th>
<th>	Action      </th>
</tr>
</thead>
<tbody id="data">
<tr>
{% for sip in voipdata %}

<td>{{ sip.id      		}}</td>
<td>{{ sip.vendor      }}</td>
<td>{{ sip.callbacknumber        }}</td>
<td>{{ sip.username       }}</td>
<td class="text-end">
<div class="dropdown dropdown-action">
<a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="{% url 'edit_voip' sip.id %}"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
<a class="dropdown-item" href="{% url 'delete_asset' sip.id %}"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
</div>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="sidebar-overlay" data-reff=""></div>

<script>
	$("document").ready(function(){
		$('#search').keyup(function(){
			var value = $(this).val().toLowerCase()
			$("#data tr").filter(function(){
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
		});
	});
});
</script>

</html>